@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg1: #1f1f1f;
    --bg2: #373737;
    --body: #c5c5c5;
    --color1: #449cdc;
    --white: #fff;
}

body{
    font-family: 'Ubuntu', sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
}

/* Nav-bar */
.navbar{
    padding:1px 0;
    min-height:auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}
.logo-navbar{
    height: 80px;
    width: auto;
}
.navbar .navbar-nav .nav-link.active{
    color: var(--color1);
}
.navbar-brand{
    font-size: 1.8em;
}
.navbar .container{
    padding-top:0;
    padding-bottom:0;
}

.navbar-toggler{
    border:none;
    box-shadow:none !important;
}

.navbar-toggler.open .navbar-toggler-icon{
    background-image:none;
    position:relative;
}

.navbar-toggler.open .navbar-toggler-icon::before,
.navbar-toggler.open .navbar-toggler-icon::after{
    content:'';
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background:#000;
    top:50%;
}

.navbar-toggler.open .navbar-toggler-icon::before{
    transform:rotate(45deg);
}

.navbar-toggler.open .navbar-toggler-icon::after{
    transform:rotate(-45deg);
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-weight: bolder;
}

a{
    color: var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover{
    color: var(--color1);
}

section{
    padding-top: 160px;
    padding-bottom: 160px;
}
#h1{
    font-weight: 900;
    font-weight: bolder;
}